html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

    font-size: 1.6rem;
    line-height: 1.6;
    color: #4B5D68;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Page */
.page {
    overflow: hidden;
}

/* Container */
.container {
    width: 100%;
    max-width: 160rem;
    padding: 0 24rem;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding-top: 6.8rem;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    align-items: center;

    position: relative;
}

.header__logo {
    display: block;
    margin-right: 12rem;
}


/* Nav */
.nav {
    display: flex;
    font-weight: 400;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin-right: 4rem;
    position: relative;

    color: #4B5D68;
    text-decoration: none;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #4B5D68;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    transition: width .2s linear;
}

.nav__link:hover.nav__link:after {
    width: 100%;
}

.nav__link.active {
    font-weight: 700;
}


/* Burger */
.burger {
    display: none;
    width: 3rem;
    height: 2rem;
    padding: 0;

    background: none;
    border: none;

    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.burger:before,
.burger:after,
.burger span {
    display: block;
    width: 100%;
    height: 4px;

    background-color: #212353;

    position: absolute;
    left: 0;
}

.burger:before,
.burger:after {
    content: "";
}

.burger:before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

.burger span {
    top: 50%;
    transform: translateY(-50%);
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-height: 81rem;
}

.intro__inner {
    display: flex;

    position: relative;
}

.intro__content {
    width: 60%;
}

.intro__title {
    margin-bottom: 5rem;

    font-size: 8rem;
    font-weight: 700;
    line-height: 1.1;
    color: #212353;
}

.intro__text {
    margin-bottom: 5rem;
    max-width: 38rem;

    font-size: 1.8rem;
    font-weight: 400;
}

.intro__img {
    display: block;
    max-width: 100%;
    height: auto;

    position: absolute;
    right: -15rem;
    bottom: -10rem;
    z-index: 1;
}


/* Buttons and Links */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.6rem 3.7rem;

    border-radius: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    background-color: #9C69E2;
    color: #FFF;

    transition: background-color .2s linear;
}

.btn--small {
    display: none;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    line-height: 1.6;

    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 1;
}

.btn:hover {
    background-color: #8056BA;
}

.learnmore__link {
    display: flex;
    align-items: center;
    margin-top: auto;

    font-weight: 700;
    text-decoration: none;
    color: #212353;
}

.learnmore__link__icon {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;

    fill: #9C69E2;
}

.learnmore__link__icon--slider {
    fill: #FFF;
}

/* About */
.about {
    margin-top: 5rem;

    background: rgba(240, 99, 184, 0.15);
    border-radius: 5rem;
}

.about__inner {
    display: flex;
    padding: 3.5rem 2rem;
}

.about__img {
    display: block;
    width: 40%;
    margin-right: 6.5rem;
    padding: 5rem 0;
}

.about__img img {
    max-width: 100%;
    height: auto;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;
    max-width: 47.4rem;
}

.about__title {
    margin-bottom: 3rem;

    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: #212353;
}

.about__text {
    font-size: 1.8rem;
    font-weight: 400;
}


/* Features */
.features {
    padding: 10rem 0;
}

.features__header {
    margin: 0 auto 10rem;
    text-align: center;
    width: 100%;
    max-width: 58.4rem;
}

.features__title {
    margin-bottom: 4rem;

    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: #212353;
}

.features__desc {
    font-size: 1.8rem;
    font-weight: 400;
}

.features__inner {
    display: flex;
    flex-wrap: wrap;
}

.features__item {
    max-width: 44.2rem;
    max-height: 35.8rem;
    margin: 0 auto 5rem;

    position: relative;
}

.features__item__bg {
    display: block;
    max-width: 100%;
    height: auto;
}

.features__item__content {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 4.9rem;
    left: 17.2rem;
    right: 5rem;
    bottom: 3.3rem;
    z-index: 1;
}

.features__item__title {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3;
    color: #212353;
}



.features__item__img {
    position: absolute;
    top: 50%;
    right: 65%;
    z-index: 1;

    transform: translateY(-50%);
}

/* Testimonials */
.testimonials {
    display: flex;
    flex-direction: column;

    margin-bottom: 15rem;
    padding: 10rem 9rem 4.5rem;
    height: 100vh;
    max-height: 71rem;

    background-color: #9C69E2;
    border-radius: 5rem;

    position: relative;
}

.testimonials__title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: #FFF;
}


/* Slider */
.slider {
    display: flex;

    position: absolute;
    top: 35%;
    left: 9rem;
    right: -100%;
}

.slider__inner {
    display: flex;
}

.slider__item {
    margin-right: 2rem;
    padding: 8rem 5rem 5rem 17rem;
    width: 100%;
    max-width: 64.5rem;
    max-height: 33rem;

    overflow: hidden;
    background-color: #FFF;
    box-shadow: 0 2rem 0 rgba(128, 86, 186, .7);
    border-radius: 2rem;

    position: relative;
}

.slider__item--second {
    max-width: 40rem;
    border: 1px solid #9C69E2;
    box-shadow: 0 2rem 0 rgba(128, 86, 186, .2);

    position: relative;
}

.slider__item--second:after {
    content: "";
    display: block;
    background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
    border-radius: 2rem;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.slider__header {
    position: relative;
}

.slider__icon {
    position: absolute;
    top: 50%;
    left: -12rem;
    z-index: 1;

    transform: translateY(-50%);
}

.slider__name {
    font-size: 1.8rem;
    font-weight: 700;
    color: #212353;
}

.slider__desc {
    font-size: 1.4rem;
    font-weight: 400;
    color: #9C69E2;
}

.slider__text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
}

.slider__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    max-width: 100%;
}

.slider__dots {
    display: flex;
    align-items: center;
}

.slider__dot {
    display: block;
    width: .5rem;
    height: .5rem;
    margin-right: 1rem;

    fill: #FFF;
}

.slider__dot--active {
    width: 1rem;
    height: 1rem;

    fill: #F063B8;
}

.slider__dot:last-child {
    margin-right: 0;
}

.slider__buttons {
    display: flex;
    align-items: center;
}

.slider__btn {
    display: inline-block;
    margin-right: 2rem;

    text-decoration: none;
    cursor: pointer;
}

.slider__btn:hover .slider__arrow {
    opacity: 1;
}

.slider__btn:last-child {
    margin-right: 0;
}

.slider__arrow {
    display: block;
    width: 2rem;
    height: 2rem;

    fill: #FFF;
    opacity: .5;

    transition: opacity .2s linear;
}

.slider__arrow--prev {
    width: 3.5rem;
}


/* Social */
.social {
    width: 50%;
    max-width: 20rem;
}

.social__title {
    margin-bottom: 3rem;

    font-weight: 700;
    line-height: 1.6;
}

.social__links {
    display: flex;
}

.social__link {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-right: 1.4rem;

    background-color: rgba(33, 35, 83, .1);
    border-radius: 50%;
    text-decoration: none;
}

.social__link:last-child {
    margin-right: 0;
}

/* Footer */
.footer {
    border-top: 2px solid rgba(156, 105, 226, .2);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 15rem 0 6rem;

    line-height: 1.8;
    color: #212353;
}

.footer__info {
    width: 50%;
    max-width: 35rem;
}

.footer__header {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.footer__logo {
    display: block;
    margin-right: 2rem;
}

.footer__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6;
}

.footer__address {
    margin-bottom: 1rem;

    font-weight: 500;
    font-style: normal;
}

.fotter__contacts {
    margin-bottom: 3rem;
}

.footer__copyright {
    font-size: 1.2rem;
}


/* Media */
@media (max-width: 1536px) {

    /* Intro */
    .intro__title {
        font-size: 6rem;
    }

    .intro__text {
        max-width: 30rem;
    }

    .intro__img {
        right: -20rem;
        bottom: -10rem;
        max-width: 85%;
    }
}

@media (max-width: 1280px) {

    /* Intro */
    .intro__title {
        margin-bottom: 3rem;
        font-size: 4rem;
    }

    .intro__text {
        margin-bottom: 3rem;
        font-size: 1.6rem;
    }

    .intro__img {
        right: -20rem;
        bottom: -5rem;
    }


    /* Buttons and Links */
    .btn--small {
        display: flex;
    }


    /* About */
    .about {
        margin-top: 0;
    }

    .about__title {
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .about__text {
        font-size: 1.6rem;
    }

    .about__img {
        margin-right: 2rem;
    }


    /* Features */

    .features__header {
        margin: 0 auto 5rem;
    }

    .features__title {
        margin-bottom: 2rem;

        font-size: 3rem;
    }


    /* Testimonials */
    .testimonials {
        padding: 4rem 5rem 3rem;
        max-height: 60rem;
    }


    /* Slider */
    .slider {
        top: 50%;

        transform: translateY(-50%);
    }

    .slider__item {
        padding: 4rem 2rem 3rem 14rem;

        max-width: 50rem;
    }

    .slider__text {
        font-size: 1.6rem;
        line-height: 1.6;
    }


    /* Footer */
    .footer__inner {
        padding: 5rem 0;
    }
}

@media (max-width: 1024px) {

    /* Container */
    .container {
        padding: 0 10rem;
    }

    /* Intro */
    .intro {
        min-height: 80rem;
    }

    .intro__content {
        width: 100%;
        text-align: center;
    }

    .intro__title {
        margin-bottom: 3rem;
        font-size: 4rem;
    }

    .intro__text {
        margin-bottom: 3rem;
        max-width: 100%;
        font-size: 1.6rem;
    }

    .intro__img {
        right: -5rem;
        bottom: -25rem;
        max-width: 60%;
    }


    /* Features */
    .features__title {
        font-size: 3rem;
    }


    /* Testimonials */
    .testimonials {
        padding: 3rem 5rem 3.5rem;
    }

    .testimonials__title {
        font-size: 3rem;
    }

    /* Slider */
    .slider__item {
        max-height: 23rem;
    }
}

@media (max-width: 768px) {

    /* Container */
    .container {
        padding: 0 5rem;
    }


    /* Nav */
    .nav {
        display: none;
    }


    /* Burger */
    .burger {
        display: block;
    }


    /* About */
    .about__img {
        display: none;
    }

    .about__content {
        width: 100%;
        max-width: none;

        text-align: center;
    }


    /* Features */
     .features__title {
         font-size: 3rem;
    }

    .features__item__content {
        left: 10rem;
    }

    .features__item__img {
        display: none;
    }


    /* Slider */
    .slider__item {
        max-width: 30rem;
        max-height: 22rem;
    }


    /* Footer */
    .footer__inner {
        flex-direction: column;
        justify-content: center;


        text-align: center;
        line-height: 1.6;
    }

    .footer__info {
        width: 100%;
        max-width: none;
    }

    .footer__header {
        margin-bottom: 3rem;
        justify-content: center;
    }

    .fotter__contacts {
        margin-bottom: 1rem;
    }

    .footer__copyright {
        margin-bottom: 2rem;
    }


    /* Social */
    .social {
        width: 100%;
        max-width: none;
    }

    .social__title {
        display: none;
    }

    .social__links {
        justify-content: center;
    }
}

@media (max-width: 640px) {

    /* Header */
    .header {
        padding-top: 5rem;
    }


    /* Intro */
    .intro__title {
        font-size: 3rem;
    }

    .intro__img {
        right: 0;
        bottom: -22rem;
    }


    /* About */
    .about__title {
        font-size: 2.5rem;
    }


    /* Features */
    .features__title {
        font-size: 2.5rem;
   }

    .features__desc {
        font-size: 1.6rem;
   }

   .features__item__title {
        font-size: 2rem;
   }


   /* Testimonials */
    .testimonials {
        padding: 3rem;
        max-height: 50rem;
    }


    /* Slider */
    .slider {
        right: 9rem;
    }

    .slider__item {
        max-width: 35rem;
    }

    .slider__item--second {
        display: none;
    }
}

@media (max-width: 568px) {

    /* Container */
    .container {
        padding: 0 3rem;
    }

    /* Intro */
    .intro__img {
        display: none;
    }


    /* About */
    .about__title {
        font-size: 2rem;
    }

    .about__text {
        font-size: 1.4rem;
    }


    /* Features */
    .features {
        padding: 5rem 0;
    }

    .features__item__content {
        top: 2rem;
    }

    .features__item__text {
        font-size: 1.4rem;
    }

    /* Slider */
    .slider {
        left: 4rem;
        right: 2rem;
    }

    .slider__item {
        padding: 1rem;
    }

    .slider__icon {
        display: none;
    }
}

@media (max-width: 414px) {

    /* About */
    .about__title {
        font-size: 1.8rem;
    }

    .about__text {
        font-size: 1.2rem;
    }


    /* Features */
    .features__item__title {
        font-size: 1.8rem;
    }

    .features__item__text {
        font-size: 1.2rem;
    }


    /* Slider */
    .slider__text {
        font-size: 1.4rem;
    }
}

@media (max-width: 375px) {

    /* Container */
    .container {
        padding: 0 1.5rem;
    }


    /* Features */
    .features__item__content {
        left: 7rem;
    }
}

@media (max-width: 320px) {

    /* Intro */
    .intro__title {
        font-size: 2.5rem;
    }


    /* Testimonials */
    .testimonials__title {
        font-size: 2.5rem;
    }
}



